.register {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    background-color: #000;
}

.register .brand {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;

}


.register .brand img {
    height: 5rem;

}
.register .brand h1 {
    text-transform: uppercase;
}

.register form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #fff;
    border-radius: 2rem;
    padding: 3rem 5rem;
    
    

}

.register form input {
    background-color: transparent;
    padding: 1rem;
    border: 0.1rem solid #00000030;
    border-radius: 0.4rem;
    color: #000;
    font-size: 1rem;
    width: 100%;
}
.register form input:focus {
    border: .1rem solid #00000070;
    outline: none;

}


.register form button {
    background-color: #000;
    color: #fff;
    padding: 1rem 2rem;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0.4rem;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;


}

.register form button:hover {
    background-color: #00000070;
}

.register form span {
    text-transform: uppercase;
    
}

form span a {
    color: #00000050;
    text-decoration: none;
    font-weight: bold;
}

