.creator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.creator__element {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 950px;
    max-height: 200px;
    gap: 30px;
}

.creator__element h1 {
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 23px;
}
.item__id1 {
  height: 123px;
  width: 123px;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  box-shadow: 0 2px 3px #00000070;
  
}
.item__id1 img{
 
  width: 123px;
  position: absolute;
  top: 50%; /* Di chuyển hình ảnh lên trên một nửa của phần tử container */
  left: 50%; /* Di chuyển hình ảnh sang trái một nửa của phần tử container */
  transform: translate(-50%, -50%);
  
}

.creator p {
  text-align: center;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}
.creator .creator__element.info {
 
}
.link__creator1 {
  display: flex!important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #000;
  padding-bottom: 3px;
}


.custom-arrow1 {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
   /* Ensure arrows are on top of slides */
}

.custom-arrow1:hover {
  cursor: pointer;
  
  font-size: 1.5rem;
}

.custom-arrow1.prev {
  left: -25px; /* Adjust left position */

  z-index: 1;
}

.custom-arrow1.next {
  right: -25px; /* Adjust right position */
}