.creator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.creator__element {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 950px;
    max-height: 200px;
    gap: 30px;
    padding-bottom: 35px;
}

.creator__element h1 {
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 23px;
}
.item__id1 {
  height: 123px;
  width: 123px;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  box-shadow: 0 2px 3px #00000070;
  
}
.item__id1 img{
 
  width: 123px;
  position: absolute;
  top: 50%; /* Di chuyển hình ảnh lên trên một nửa của phần tử container */
  left: 50%; /* Di chuyển hình ảnh sang trái một nửa của phần tử container */
  transform: translate(-50%, -50%);
  
}

.creator p {
  text-align: center;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

.link__creator1 {
  text-decoration: none;
  color: #000;
}