.header {
/* HEADER */

position: sticky;
height: 120px;
left: 0px;
top: 0px;
color: #fff;
background: #000000;
display: flex;
justify-content: center;
align-items: center;
padding: 0 50px;
z-index: 1;
gap: 30px;


}
.header__element.header-logo {
    overflow: hidden;
}

.header .header-logo img{
    /* LOGO */


    width: 275px;
    height: 100px;

}

.header__element.header-search {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    font-size: 10px;
    gap: 20px;
    padding-top: 30px;

}

.header-search__element.search-frame {
    height: 45px;
    background: #fff;
    min-width: 500px;
    border-radius: 5px;
    display: flex;

    
   
}

.header-search__element.search-frame input[type="text"] {
    height: 100%;
    width: 400px;
    padding-left: 30px;
    
    
}
input::placeholder {
    font-style: italic;
}
.header-search__element.search-frame .search-icon {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 20px;
    padding-left: 12px;
    color: rgba(0, 0, 0, 0.35);
}
.header-search__element.search-frame .Xmark-icon,
.header-search__element.search-frame .camera-icon {
    flex: 1;
    color: rgba(0, 0, 0, 0.35);
    font-size: 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.header-search .header-search__element.search-caption {
    
    padding-bottom: 10px;
    text-transform: uppercase; 
}
.header-search__element.search-caption h1 {
    font-size: 15px;
    font-weight: 100;
}

.header .header__element.header-function {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 40px;
    gap: 20px;
    font-size: 1.5rem;
}


/* .header-function .header-function__element {
    padding: 0 10px;
    
} */

.header-function__element.function-language p{
    font-weight: bold;
}




