
.Navbar {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 10px 60px;
    color: #fff;
    background-color: #000;
    border-top: 1px solid #fff;
    text-decoration: none;
    padding: 16px 0;
    position: sticky;
    top:120px;
    z-index: 9;
    
    
}
.Navbar .Navbar__element {
    text-decoration: none;
    color: #fff;
}