.footer {
    display: flex;
    flex-direction: column;
    color: #fff;
    background-color: #000;
    gap: 2.5rem;
    padding: 2.5rem 3.75rem 0 3.75rem;
    margin-top: 5rem;
    justify-content: center;
    align-items: center;
}
.footer .footer__Copyright {
    padding-right: 54.875rem;
}
.footer .footer__info {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    
    gap: 4.188rem;
}

.footer h1 {
    text-transform: uppercase;
    font-size: 0.938rem;
    padding-bottom: 1.563rem;
}

.footer p {
    font-size: 0.813rem;
    padding: 0.188rem 0;
}

.footer__info .footer__info__register {
    width: 17.813rem;
}

.footer__info .footer__info__invite {
    width: 16.25rem;
}
.footer__info .footer__info__public .social {
    display: flex;
    justify-content: center;
    gap: 1.438rem;
    font-size: 1.25rem;
}
.footer__info p.last  {
    padding-bottom: 1.875rem;
}

.footer__info__register .inputemail {
    display: flex;
    gap: 0.938rem;
    align-items: flex-end;
}
.inputemail .inputblank input {
    width: 15.313rem;
    padding-left: 0.625rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.438rem;
}
.inputemail .inputemail__element button {
    padding:0.5rem 0.625rem;
    border-radius: 0.438rem;
}


.footer__info__invite p.link {
    font-style: italic;
    font-weight: bold;
}

