.ComingSoon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 110px;
}

.ComingSoon .ComingSoon__notice h1 {
    padding: 130px 150px;
    background-color: #000;
    color: #fff;
    font-style: italic;
    text-transform: uppercase;
    font-size: 75px;
    
}
.ComingSoon .ComingSoon__para {
    align-self: flex-start;
}